version: '3'

services:
  ca:
    build: .
    volumes:
      - type: bind
        source: ./app/certs
        target: /app/certs
    networks:
      caddy:
        ipv4_address: 172.16.0.21
        
networks:
  caddy:
    external: true        
